:root{
    --primary-color: #10275A;
    --secondary-color: #8A8BB3; 
}
.header-wrapper {
    display:grid; 
    grid-template-columns:1fr 2fr; 
    align-items:center ; 
    margin: 1rem 0 1.5rem 0;
}   
.header-wrapper p{ 
    align-content:center;
}
