@using MudBlazor
@inherits LayoutComponentBase

<div class="page theme-page-mainlayout"> 
    <div class="container-cards">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                    </div>
                    <Calendar></Calendar>
                </div>
            </div>
        </div>
    </div>
    <main>
        <article class="content px-4"> 
            <MudThemeProvider/>  
            <MudPopoverProvider />
            <MudDialogProvider />
            @Body
        </article>
    </main>
</div>
