@using MudBlazor;

@for(int i = 1;i < 5; i++){
    <div class="custom-cards">
        <div class="custom-cards-header-container">
            <div class="color-indicator"></div>
            <div class="custom-cards-title-wrapper">
                <div class="custom-cards-title">Test</div>
                <span class="schedule-time">07:00 - 07:15</span>
            </div>
            <span class="custom-cards-menu"> ... </span>
        </div>
        <div class="tags-container">
            <div class="tags-dark-violet">Urgent</div>
            <div class="tags-dark-violet">Home</div>
        </div>
    </div>
}