@using MudBlazor
@inject NavigationManager NavigationManager 

@if (IsVisible())
{
    <div class="NavBar">
        @foreach (var menu in MenuBar)
        {
            <div class="NavBar-item" @onclick='() => OnRoute(menu.Link)'>
              <span class="@(IsTabActive(menu.Link) ? "active-tab" : "")">
                    <MudIcon Icon="@menu.Icon" Size="Size.Medium" Color="Color.Primary" />
                    <div class="tab-section-name">@menu.TabName</div>
             </span>
            </div>
        }
    </div>
}