* {
    box-sizing: border-box;
}

.NavBar {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    right: 0;
    height: 74px;
    border-radius: 25px 25px 0 0;
    background: #EEE9FF;
}

.NavBar-item {
    padding: 15px 5px 15px 5px;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

.active-tab  {
    fill: #FAB540;
}
.tab-section-name {
    font-size: 13px;
    margin-top: 5px;
}
