@page "/home" 
@using MudBlazor
@using TaskManagement.Mobile.Shared.Components.BottomNavbar  
@using TaskManagement.Mobile.Shared.Components.Loader

<h3>Home Tab</h3>
<div class="content-wrapper">
    <Loader />
    <BottomNavbar></BottomNavbar>
</div>
